*,
*::before,
*:active {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  margin: 0;
}

.error-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
